.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 300;
  background-color: white;
  border-bottom: 1px solid $secondary-100;

  &[data-mantine-color-scheme="dark"] {
    border-bottom: 1px solid $primary-600;
  background-color: $primary-800;

  }
}
