.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 300;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dimmed);
}
